nav {
  display: flex;
  align-items: center;
  padding: 1em 2em;
  position: relative;
}

.top_part1 {
  background-color: rgba(242, 239, 237, 1);
  height: fit-content;
}

.logo_button {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 300;
  text-decoration: none;
  color: black;
  font-size: 30px;
  margin-right: 0.5em;
}

.logo_button_del2 {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 500;
  text-decoration: none;
  color: black;
  font-size: 40px;
  margin-right: auto;
}

.nav {
  display: flex;
  gap: 3em;
  margin-left: auto;
}

.knap_nav,
.knap_nav1 {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 300;
  text-decoration: none;
  color: black;
  font-size: 18px;
}

.knap_nav:hover,
.knap_nav1:hover {
  text-decoration: underline;
}

/* Burger */
.burger {
  display: none;
  font-size: 30px;
  margin-left: auto;
  cursor: pointer;
}

/* Mobil */
@media (max-width: 768px) {
  .burger {
    display: block;
  }

  .nav {
    display: none; /* skjul menu som default på mobil */
    flex-direction: column;
    position: absolute;
    top: 70px;
    right: 0;
    background: white;
    width: 200px;
    padding: 1em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 999;
  }

  .nav.active {
    display: flex !important; /* !important sikrer, at JS kan overstyre gamle regler */
  }

  .nav a {
    margin: 1em 0;
    color: black;
  }
}

/*skrift type */
.ibm-plex-mono-regular {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.ibm-plex-mono-medium {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 500;
  font-style: normal;
}

.ibm-plex-mono-semibold {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 600;
  font-style: normal;
}

.ibm-plex-mono-bold {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 700;
  font-style: normal;
}

.ibm-plex-mono-light-italic {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 300;
  font-style: italic;
}

/* footer */

#footer_h2 {
  margin-top: 3em;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 200;
  font-size: 50px;
}

.footer_flex {
  display: flex;
  margin-top: 5em;
}

#armani_footer,
#pige_udenfor_footer,
#ryangosling_footer,
#flot_fyr_footer,
#sort_hvid_pige_footer {
  width: 16%;
  margin-left: 3em;
}

.footer_nav {
  margin-top: 5em;
  margin-bottom: 2em;
  text-align: right;
}

#knap_footer {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 300;
  font-size: 20px;
  text-decoration: none;
  color: black;
  margin-right: 2.3em;
}

#knap_footer:hover {
  text-decoration: underline;
}
