.grid_1 {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 80px;
  background: rgba(242, 238, 237, 1);
}

.grid_1 h1 {
  font-size: 60px;
  letter-spacing: 4px;
  line-height: 1.1;
  font-weight: 300;
  max-width: 400px;
}

h1 {
  font-family: "Inter", sans-serif;
  font-weight: 200;
}

p {
  font-family: "Inter", sans-serif;
  font-weight: 200;
}

.top_part1 {
  background-color: rgba(242, 239, 237, 1);
  height: 110vh;
}

.grid_1 p {
  max-width: 400px;
  margin-top: 20px;
  color: #000000;
  font-weight: 300;
  line-height: 1.7em;
  font-size: 22px;
}

/* Billeder */
.billede_forside,
.billede_forside2,
.billede_forside3 {
  position: absolute;
  width: 300px;
  height: auto;
  object-fit: cover;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.billede_forside {
  right: 410px;
  top: 120px;
  z-index: 2;
}

.billede_forside2 {
  right: 190px;
  top: 80px;
  z-index: 3;
}

.billede_forside3 {
  right: 40px;
  top: 160px;
  z-index: 1;
  width: 16%;
}
.part2 {
  height: 80vh;
}

.tekst1 {
  font-size: 35px;
  font-family: "Inter", sans-serif;
  font-weight: 200;
  font-style: italic;
  margin-left: auto;
  margin-top: 2em;
  margin-right: auto;
  padding: 5em;
  line-height: 1.5em;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* part 3 */

.part3 {
  height: fit-content;
  background-color: rgba(250, 248, 242, 1);
  padding-top: 5em;
}

.creative_talent {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 300;
  font-style: normal;
  font-size: 40px;
  margin-left: 13em;
}

.p3_1 {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 200;
  font-size: 27px;
  font-style: normal;
  margin-left: 21em;
}

.billede_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2em;
  grid-auto-flow: dense;
}

.card {
  position: relative;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.stor {
  grid-row: span 2;
}

.navn {
  position: absolute;
  bottom: 35px;
  left: 20px;
  color: white;
  font-family: "IBM Plex Mono", monospace;
  font-size: 24px;
  font-weight: bold;
}

.model {
  position: absolute;
  bottom: 10px;
  left: 20px;
  color: white;
  font-family: "IBM Plex Mono", monospace;
  font-size: 18px;
}

#armani {
  grid-column: 1/2;
  grid-row: 1/2;
  width: 110%;
}

/*sort hvid pige */

#sort_hvid_pige {
  grid-column: 2/3;
  grid-row: 1/2;
  width: 110%;
  margin-left: 5em;
}

/*rødhåret pige */

#roodhaaret {
  grid-column: 3/4;
  grid-row: 1/2;
  width: 110%;
  margin-left: 10em;
}

/*gammel pige */

#gammel {
  grid-column: 1/2;
  grid-row: 2/4;
  width: 110%;
  margin-top: 2em;
}

/*flot fyr */

#flot_fyr {
  grid-column: 2/3;
  grid-row: 2;
  width: 110%;
  margin-left: 5em;
  margin-top: 2em;
}

/* pige udenfor */

#pige_udenfor {
  grid-column: 3/4;
  grid-row: 2;
  width: 110%;
  width: 110%;
  margin-left: 10em;
  margin-top: 2em;
}

#knap_part3 {
  grid-column: 2/4;
  grid-row: 3/4;
  margin-left: 10em;
  margin-top: 3em;
  text-decoration: none;
  color: #000000;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 30px;
}

#knap_part3:hover {
  text-decoration: underline;
}

@media (max-width: 800px) {
  .grid_1 {
    display: block; /* skifter fra flex til block */
  }

  .grid_1 img {
    width: 80%; /* billederne fylder 80% af skærmen */
    max-width: 300px; /* maks størrelse, så de ikke bliver gigantiske */
    margin: 30em auto; /* centreret med lidt afstand */
    display: block;
  }
}
